<h1>Allergy Predictor</h1>
<form class="" action="/result" method="get">
  <div class="form-group">
    <label for="score">Enter an allergy score to see which allergins effect you!</label>
    <input name="score" class="form-control" type="number">
  </div>
  <button type="submit" class="btn btn-info">Show my allergies!</button>
</form>
